body { 
  min-height: 100vh; 
  display: flex; 
  flex-direction: column; 
}
header{
 min-height: 10vh;
 } 
main{
  flex-grow: 1;
} 
footer{
  min-height: 10vh;
 }

.logo{
  max-height: 10vh;
}

.text-shadow{
  text-shadow: 1px 1px black;
}

.hero-image{

  background-image: url("/hero.jpg");
}

.image-text{
  border-left: 1px solid black;
}
