body { 
  min-height: 100vh; 
  display: flex; 
  flex-direction: column; 
}
header{
 min-height: 5vh;
 } 
main{
  flex-grow: 1;
} 
footer{
  min-height: 10vh;
 }

.logo{
  max-height: 5vh;
}

.text-shadow{
  text-shadow: 1px 1px black;
}

.hero-image{

  background-image: url("./assets/hero.jpg");
}

.image-text{
  border-left: 1px solid black;
  font-family: 'Russo One', sans-serif;
}

.box-shadow{
  box-shadow: 1px 1px black;
}

@media (min-width: 960px) {
  .offset-card{
  position: absolute;
  bottom: 0;
  transform: translateY(10%);
}
}

header{
  position: sticky;
}

.card li{
  font-size: large;
}

.midsite-image{
  max-height: 60vh;
}